<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pemesanan</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
	<div class="container">
  	<h1>Pemesanan</h1>
  	<form class="add-post-form" action="#" th:action="@{/Pemesanan}" th:object="${pemesanan}" method="post">
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Kamar Id</label>
	    <input type="text" class="form-control" id="kamar_id" placeholder="Id Kamar">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">User Id</label>
	    <input type="text" class="form-control" id="user_id" placeholder="Id User">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Tanggal Booking</label>
	    <input type="date" class="form-control" id="tanggal_booking" placeholder="Tanggal Booking">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Tanggal Check Out</label>
	    <input type="date" class="form-control" id="tanggal_check_out" placeholder="Tanggal Check Out">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Nama Pesanan</label>
	    <input type="text" class="form-control" id="nama_pemesan" placeholder="Nama Pemesan">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Total Harga</label>
	    <input type="text" class="form-control" id="total_harga" placeholder="Total Harga">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Kode Booking</label>
	    <input type="text" class="form-control" id="kode_booking" placeholder="Kode Booking">
	  </div>
	  <button type="submit" class="btn btn-primary">Booking</button>
</body>
</html>