<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
		<h4 class="card-title mt-3 text-center">Create Account</h4>
		<form action="#" th:action="@{/registration/submit}"  th:object="${user}" method="post">
			<div class="form-group input-group">
			<div class="input-group-prepend">
				 <span class="input-group-text"> <i class="fa fa-user"></i></span>
			</div>
		 		<input name="" class="form-control" th:field="*{username}" placeholder="Username" type="text">
			 </div> <!-- form-group// -->
			</div>
		 		<input name="" class="form-control" th:field="*{password}" placeholder="Password" type="password">
			 </div> <!-- form-group// -->
 			</div>
		 		<input name="" class="form-control" th:field="*{email}" placeholder="email" type="email">
			 </div>
		 <div class="form-group input-group">
		 <div class="input-group-prepend">
		 <span class="input-group-text"> <i class="fa fa-building"></i>
	</span>
	</div>
		<select class="form-control" th:object="*{role}" name="dropRole" id="dropRole">
		<option value="1">ADMIN</option>
		 <option value="2">PEMBELI</option>
		</select>
	</div> <!-- form-group end.// -->
	 <div class="form-group input-group">
	 <div class="input-group-prepend">
	 <span class="input-group-text"> <i class="fa fa-lock"></i>
	</span>
	</div>
	 <input class="form-control" th:field="*{pwd}" placeholder="Create password" type="password">
	 </div> <!-- form-group// -->
	
	 <div class="form-group">
	 <button type="submit" class="btn btn-primary btn-block"> Create Account
	</button>
	 </div> <!-- form-group// -->
	 <p class="text-center">Have an account? <a th:href="@{/login}">Log In</a>
	</p>
	</form>
	</article>
	</div> <!-- card.// -->

</body>
</html>