<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Validasi Pemesanan</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/Kamar}" th:object="${kamar}" method="post">
<table class="table" align="center" style="width:75%">
        <tr>
            <th colspan="3" text-align="center">
            <h4 align="center"> Detail Pemesanan</h4>
            </th>
        </tr>
        <tr>
            <td>ID Pemesanan</td>
            <td>:</td>
            <td>1232093</td>
        </tr>
        <tr>
            <td>Kode Booking</td>
            <td>:</td>
            <td>1232093</td>
        </tr>
        <tr>
            <td>Nama Pemesan</td>
            <td>:</td>
            <td>Agnes Gultom</td>
        </tr>
        <tr>
            <td>Tanggal Booking</td>
            <td>:</td>
            <td>12.30 12 Desember 2020</td>
        </tr>
        <tr>
            <td>Tanggal Check In</td>
            <td>:</td>
            <td>13 Desember 2020</td>
        </tr>
         <tr>
            <td>Tanggal Check Out</td>
            <td>:</td>
            <td>14 Desember 2020</td>
        </tr>
         <tr>
            <td>Kateregori Kamar</td>
            <td>:</td>
            <td>Single Bed</td>
        </tr>
         <tr>
            <td>Total Harga</td>
            <td>:</td>
            <td>400.000</td>
        </tr>
        <tr>
            <td colspan="3">
            	<button class="btn btn-success btn-lg" type="submit" style="margin: 0 35% 0 35%">Konfirmasi Pemesanan</button>
            </td>
        </tr>
    </table>
   </form>
</body>
</html>